# Configuration file

general {
    I:EntityAbyssalZombie=0
    I:EntityBasicHunter=0
    I:EntityBasicVampire=0
    I:EntityBat=0
    I:EntityBrainyZombie=0
    I:EntityChargedQuartz=0
    I:EntityChicken=0
    I:EntityCorpse=0
    I:EntityCow=0
    I:EntityCreeper=0
    I:EntityCustom=0
    I:EntityDepthsGhoul=0
    I:EntityEnderman=0
    I:EntityEvilChicken=0
    I:EntityEvilCow=0
    I:EntityEvilpig=0
    I:EntityEvoker=0
    I:EntityFairy=0
    I:EntityFallingBlock=0
    I:EntityFallingTree=0
    I:EntityGaiaArachne=0
    I:EntityGaiaBee=0
    I:EntityGaiaBoneKnight=0
    I:EntityGaiaCecaelia=0
    I:EntityGaiaCentaur=0
    I:EntityGaiaCreep=0
    I:EntityGaiaDeathword=0
    I:EntityGaiaDryad=0
    I:EntityGaiaEnderEye=0
    I:EntityGaiaFleshLich=0
    I:EntityGaiaHarpy=0
    I:EntityGaiaHarpyWizard=0
    I:EntityGaiaKikimora=0
    I:EntityGaiaMatango=0
    I:EntityGaiaMermaid=0
    I:EntityGaiaMinotaurus=0
    I:EntityGaiaMonoeye=0
    I:EntityGaiaNaga=0
    I:EntityGaiaPropChestMimic=0
    I:EntityGaiaPropFlowerCyan=0
    I:EntityGaiaPropVase=0
    I:EntityGaiaSatyress=0
    I:EntityGaiaSharko=0
    I:EntityGaiaSiren=0
    I:EntityGaiaSpawnerMinotaur=0
    I:EntityGaiaSpriggan=0
    I:EntityGaiaToad=0
    I:EntityGaiaWerecat=0
    I:EntityGaiaWitch=0
    I:EntityHorse=0
    I:EntityIllusionIllager=0
    I:EntityItem=0
    I:EntityMaid=0
    I:EntityMinecartChest=0
    I:EntityPech=0
    I:EntityPig=0
    I:EntityPlayerSP=0
    I:EntityPotion=0
    I:EntityRabbit=0
    I:EntityRift=0
    I:EntityRinnosuke=0
    I:EntityShadowCreature=0
    I:EntityShadowMonster=0
    I:EntitySheep=0
    I:EntityShootingStar=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityTippedArrow=0
    I:EntityVindicator=0
    I:EntityWisp=0
    I:EntityWitch=0
    I:EntityWolf=0
    I:EntityXPOrbBig=0
    I:EntityZombie=0
    I:EntityZombieVillager=0
    I:MissileBase=0
    I:NpcFactionArcher=0
    I:NpcFactionArcherElite=0
    I:NpcFactionCivilianFemale=0
    I:NpcFactionCivilianMale=0
    I:NpcFactionLeader=0
    I:NpcFactionMountedArcher=0
    I:NpcFactionMountedSoldier=0
    I:NpcFactionSiegeEngineer=0
    I:NpcFactionSoldier=0
    I:VehicleBase=0
    I:"update Interval"=1000
}


